
<nav class="mb-2" aria-label="breadcrumb">
    <ol class="breadcrumb mb-0">
      <li class="breadcrumb-item"><a href="#!">Page 1</a></li>
      <li class="breadcrumb-item"><a href="#!">Page 2</a></li>
      <li class="breadcrumb-item active">Default</li>
    </ol>
</nav>
  <div class="mb-9">
    <div class="row g-3 mb-4">
      <div class="col-auto">
        <h2 class="mb-0">Products</h2>
      </div>
    </div>
    <ul class="nav nav-links mb-3 mb-lg-2 mx-n3">
      <li class="nav-item"><a class="nav-link active" aria-current="page" href="#"><span>All </span><span class="text-body-tertiary fw-semibold">(68817)</span></a></li>
      <li class="nav-item"><a class="nav-link" href="#"><span>Published </span><span class="text-body-tertiary fw-semibold">(70348)</span></a></li>
      <li class="nav-item"><a class="nav-link" href="#"><span>Drafts </span><span class="text-body-tertiary fw-semibold">(17)</span></a></li>
      <li class="nav-item"><a class="nav-link" href="#"><span>On discount </span><span class="text-body-tertiary fw-semibold">(810)</span></a></li>
    </ul>
    <div id="products" data-list='{"valueNames":["product","price","category","tags","vendor","time"],"page":10,"pagination":true}'>
      <div class="mb-4">
        <div class="d-flex flex-wrap gap-3">
          <div class="search-box">
            <form class="product-relative" data-bs-toggle="search" data-bs-display="static"><input class="form-control search-input search" type="search" placeholder="Search products" aria-label="Search" />
              <span class="fas fa-search search-box-icon"></span>
            </form>
          </div>
          <div class="scrollbar overflow-hidden-y">
            <div class="btn-group product-static" role="group">
              <div class="btn-group product-static text-nowrap"><button class="btn btn-phoenix-secondary px-7 flex-shrink-0" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"> Category<span class="fas fa-angle-down ms-2"></span></button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li><a class="dropdown-item" href="#">Separated link</a></li>
                </ul>
              </div>
              <div class="btn-group product-static text-nowrap"><button class="btn btn-sm btn-phoenix-secondary px-7 flex-shrink-0" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"> Vendor<span class="fas fa-angle-down ms-2"></span></button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li><a class="dropdown-item" href="#">Separated link</a></li>
                </ul>
              </div><button class="btn btn-sm btn-phoenix-secondary px-7 flex-shrink-0">More filters</button>
            </div>
          </div>
          <div class="ms-xxl-auto"><button class="btn btn-link text-body me-4 px-0"><span class="fa-solid fa-file-export fs-9 me-2"></span>Export</button><button (click)="AddNew('product')" class="btn btn-primary" id="addBtn" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><span class="fas fa-plus me-2"></span>Add product</button></div>
        </div>
      </div>
      <div class="mx-n4 px-4 mx-lg-n6 px-lg-6 bg-body-emphasis border-top border-bottom border-translucent product-relative top-1">
        <div class="table-responsive scrollbar mx-n1 px-1">
          <table class="table fs-9 mb-0">
            <thead>
              <tr>
                <th class="white-space-nowrap fs-9 align-middle ps-0" style="max-width:20px; width:18px;">ID</th>
                <th class="sort white-space-nowrap align-middle ps-4" scope="col" style="width:70px;">IMAGE</th>
                <th class="sort white-space-nowrap align-middle ps-4" scope="col" style="width:300px;" data-sort="product">PRODUCT NAME</th>
                <th class="sort white-space-nowrap align-middle ps-4" scope="col" style="width:350px;" data-sort="product">DESCRIPTION</th>
                <th class="sort align-middle text-end ps-4" scope="col" data-sort="price" style="width:100px;">CATEGORY</th>
                <th class="sort align-middle text-end ps-4" scope="col" data-sort="price" style="width:100px;">VENDOR</th>
                <th class="sort align-middle text-end ps-4" scope="col" data-sort="price" style="width:100px;">SKU</th>
                <th class="sort align-middle ps-4" scope="col" data-sort="category" style="width:100px;">QUANTITY</th>
                <th class="sort align-middle ps-3" scope="col" data-sort="tags" style="width:100px;">COST</th>
                <th class="sort align-middle ps-3" scope="col" data-sort="tags" style="width:100px;">PRICE</th>
                <th class="sort text-end align-middle pe-0 ps-4" scope="col"style="width:80px;">STATUS</th>
                <th class="sort text-end align-middle pe-0 ps-4" scope="col"style="width:50px;">ACTION</th>
              </tr>
            </thead>
            <tbody class="list" id="products-table-body">

              <tr style="padding:1rem .5rem; height: 80px;" class="product-static" *ngFor="let item of ProductList;let i = index;">
                <td class="fs-9 align-middle">{{ item.productID }}</td>
                <td class="align-middle white-space-nowrap py-0"><a class="d-block border border-translucent rounded-2" href="http://localhost:5186/Uploads/Product/{{ item.imagePath }}"><img src="http://localhost:5186/Uploads/Product/{{ item.imagePath }}" alt="" width="53" /></a></td>
                <td class="product align-middle ps-4">{{ item.productName }} </td>
                <td class="product align-middle ps-4">{{ item.description }} </td>
                <td class="align-middle white-space-nowrap text-end fw-bold text-body-tertiary ps-4">{{ getCateName(item.categoryID) }}</td>
                <td class="align-middle white-space-nowrap text-end fw-bold text-body-tertiary ps-4">{{ getVendorName(item.vendorID) }}</td>
                <td class="align-middle white-space-nowrap text-end fw-bold text-body-tertiary ps-4">{{ getSKUName(item.skuID) }}</td>
                <td class=" align-middle white-space-nowrap text-end fw-bold text-body-tertiary ps-4">{{ item.qty }}</td>
                <td class=" align-middle white-space-nowrap text-end fw-bold text-body-tertiary ps-4">{{ item.unitCost}} $</td>
                <td class=" align-middle white-space-nowrap text-end fw-bold text-body-tertiary ps-4">{{ item.unitPrice }} $</td>
                <td class="align-middle white-space-nowrap text-end pe-0 ps-4 btn-reveal-trigger">
                  <span *ngIf="item.isActive === 1">
                    <span class="badge badge-phoenix fs-10 badge-phoenix-success">activated</span>
                </span>
                <span *ngIf="item.isActive === 0">
                    <span class="badge badge-phoenix fs-10 badge-phoenix-danger">inactivated</span>
                </span>
                </td>
                <td class="align-middle white-space-nowrap text-end pe-0 ps-4 btn-reveal-trigger">
                  <div class="btn-reveal-trigger product-static"><button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs-10" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs-10"></span></button>
                    <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="GetProductById(item.productID, 1)">Edit</a>
                      <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="#!" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="GetProductById(item.productID, 0)">Remove</a>
                    </div>
                  </div>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
        <div class="row align-items-center justify-content-between py-2 pe-0 fs-9">
          <div class="col-auto d-flex">
            <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" data-list-info="data-list-info"></p><a class="fw-semibold" href="#!" data-list-view="*">View all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a class="fw-semibold d-none" href="#!" data-list-view="less">View Less<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
          </div>
          <div class="col-auto d-flex"><button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
            <ul class="mb-0 pagination"></ul><button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
          </div>
        </div>

    </div>
  </div>
</div>


<button class="btn btn-primary" id="addBtn" data-bs-toggle="modal" data-bs-target="#skuModal"><span class="fas fa-plus me-2"></span>SKU</button>

<!-- Product Modal -->
<div class="modal fade"  id="staticBackdrop" tabindex="-1" data-bs-backdrop="static" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen" style="padding-left: 255px !important;">
    <div class="modal-content">

      <div class="modal-header bg-primary" style="background-color: #7f597e !important;">
        <h5 class="modal-title text-white dark__text-gray-1100" id="staticBackdropLabel">PRODUCT INFORMATION</h5><button class="btn p-1" type="button" data-bs-dismiss="modal" aria-label="Close"><span class="fas fa-times fs-9 text-white dark__text-gray-1100"></span></button>
      </div>

      <div class="modal-body">

        <form class="form-floating" [formGroup]="productForm">
          <div class="card">
            <div class="card-body row">
              <div class="col-lg-3 col-sm-3 col-12">
                <div class="form-floating mb-3" >
                  <input type="input" class="form-control" readonly formControlName="productID" id="floatingInput"  placeholder="name@example.com">
                  <label for="floatingInput">Product ID</label>
                </div>
              </div>
              <div class="col-lg-9 col-sm-9 col-12">
                <div class="form-floating mb-3">
                  <input style="font-family: khmer os battambang" formControlName="productName"  class="form-control"   placeholder="Password">
                  <label for="floatingInput" >Product Name</label>
                </div>
              </div>
              <div class="col-lg-4 col-sm-12 col-12">
                <div class="form-floating mb-3">
                  <img class="form-control" style="height: 150px; width: 200px;" [src]="imagePath" alt="" width="150" />
                  <label for="floatingInput">Image</label>
                </div>
              </div>
              <div class="col-lg-8 col-sm-12 col-12">
                <div class="form-floating mb-3">
                  <textarea class="form-control" id="floatingInput" style="height: 150px;" formControlName="description" placeholder="Description"></textarea>
                  <label for="floatingInput">Description</label>
                </div>
              </div>
              <div class="col-lg-12 col-sm-12 col-12">
                <div class="mb-3">
                  <input type="file" class="form-control" id="imageFile" formControlName="imageFile" (change)="onFileSelected($event)">
                </div>
              </div>

              <div class="col-lg-6 col-sm-12 col-12">
                <div class="row">
                  <div class="col-lg-10">
                    <div class="form-floating mb-3">
                      <select class="form-select" formControlName="categoryID"  aria-label="Default select example">
                        <option value="" disabled selected>Select</option>
                        <option *ngFor="let cate of CategoryList" [value]="cate.categoryID">{{ cate.categoryName }}</option>
                      </select>
                      <label for="floatingInput">Category</label>
                   </div>  
                  </div>
                  <div class="col-lg-2 col-sm-12 col-12 d-flex align-items-center justify-content-center">
                    <div class="input-group mb-3">
                      <a style="height: 45px;width: 45px; background-color:  rgb(8, 122, 25); display: flex;align-items: center;justify-content: center;border-radius: 25%;" data-bs-toggle="modal" (click)="AddNew('cate')" data-bs-target="#CateModal"  for="floatingInput sku" href=""><span class=" d-flex align-items-center "><i style="height: 30px;color: white;" class="fa-solid fa-plus"></i></span></a>
                   </div> 
                  </div>
                </div>

              </div>

              <div class="col-lg-6 col-sm-12 col-12">
                <div class="row">

                  <div class="col-lg-10">
                    <div class="form-floating mb-3">
                      <select class="form-select" id="sku" formControlName="skuID" aria-label="Default select example">
                        <option value="" disabled selected>Select</option>
                        <option *ngFor="let sku of SKUList" [value]="sku.skuID">{{ sku.skuName }}</option>
                      </select>
                      <label for="floatingInput">SKU</label>
                    </div>
                  </div>
                  <div class="col-lg-2 col-sm-12 col-12 d-flex align-items-center justify-content-center">
                    <div class="input-group mb-3 ps-0">
                      <div >
                        <a style="height: 45px;width: 45px; background-color:  rgb(8, 122, 25); display: flex;align-items: center;justify-content: center;border-radius: 25%;" data-bs-toggle="modal" (click)="AddNew('sku')" data-bs-target="#skuModal"  for="floatingInput sku" href=""><span class=" d-flex align-items-center "><i style="height: 30px;color: white;" class="fa-solid fa-plus"></i></span></a>
                      </div>
                   </div>  
                  </div>
                </div>


              </div>


              <div class="col-lg-5 col-sm-12 col-12">
                <div class="form-floating mb-3">
                  <select class="form-select" formControlName="vendorID"  aria-label="Default select example">
                    <option value="" disabled selected>Select</option>
                    <option *ngFor="let vendor of VendorList" [value]="vendor.vendorID">{{ vendor.vendorName }}</option>
                  </select>
                  <label for="floatingInput">Vendor</label>
               </div>  
              </div>
              <div class="col-lg-3 col-sm-3 col-12">
                <div class="form-floating mb-3">
                  <input type="input" class="form-control" formControlName="unitPrice"  id="floatingInput"  placeholder="Password">
                  <label for="floatingInput">Unit Price</label>
                </div>
              </div>

              <div class="col-lg-4 col-sm-3 col-12">
                <div class="form-floating mb-3">
                  <select class="form-select" formControlName="isActive"  aria-label="Default select example">
                      <option disabled selected>Select</option>
                      <option  value="1">Active</option>
                      <option  value="0">Inactive</option>
                  </select>
                    <label for="floatingInput">Isactive</label>
              </div>
              </div>
            </div>
          </div>
        </form>

      </div>



      <div class="modal-footer">
        <button type="button" (click)="onSaveProduct()" class="btn btn-primary">Test</button>
        <button type="button" *ngIf="btnSave" id="btnSave" (click)="onSaveProduct()" class="btn btn-primary">Save</button>
        <button type="button" *ngIf="btnUpdate" id="btnUpdate" (click)="onSaveProduct()" class="btn btn-warning">Update</button>
        <button type="button" *ngIf="btnDelete" id="btnDelete" (click)="onCUDproduct('delete')"  class="btn btn-danger">Delete</button>
        <button type="button"  id="btnClose" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
  </div>
</div>
</div>



<!-- SKU Modal-->
<div class="modal fade"  id="skuModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="skuModal" aria-hidden="true">
  <div class="modal-dialog d-flex align-items-center modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header bg-primary" style="background-color: #7f597e !important;">
        <h5 class="modal-title text-white dark__text-gray-1100" id="skuModal">SKU LIST</h5><button class="btn p-1" type="button" data-bs-dismiss="modal" aria-label="Close" ><span class="fas fa-times fs-9 text-white dark__text-gray-1100"></span></button>
      </div>

            <form class="form-floating" [formGroup]="skuForm">
              <div class="card">
                <div class="card-body row">
                  <div class="col-lg-3 col-sm-3 col-12">
                    <div class="form-floating mb-3" >
                      <input type="input" class="form-control" readonly formControlName="skuID" id="floatingInput"  placeholder="name@example.com">
                      <label for="floatingInput">SKU ID</label>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-9 col-12">
                    <div class="form-floating mb-3">
                      <input style="font-family: khmer os battambang" formControlName="skuName"  class="form-control"   placeholder="Password">
                      <label for="floatingInput" >SKU Name</label>
                    </div>
                  </div>

                  <div class="col-lg-5 col-sm-12 col-12">
                    <div class="form-floating mb-3">
                      <input class="form-control" id="floatingInput"  formControlName="skuDescription" placeholder="Description">
                      <label for="floatingInput">Description</label>
                    </div>
                  </div>

                  <div class="col-lg-12">
                    <table class="table fs-9 mb-0">
                      <thead>
                        <tr>
                          <th class="white-space-nowrap fs-9 align-middle ps-0" style="max-width:20px; width:18px;">ID</th>
                          <th class="sort white-space-nowrap align-middle ps-4" scope="col" style="width:300px;" data-sort="product">SKU NAME</th>
                          <th class="sort white-space-nowrap align-middle ps-4" scope="col" style="width:350px;" data-sort="product">DESCRIPTION</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody class="list" id="products-table-body">
          
                        <tr class="product-static" *ngFor="let item of SKUList;let i = index">
                          <td class="fs-9 align-middle">{{ item.skuID }}</td>
                          <td class="product align-middle ps-4">{{ item.skuName }} </td>
                          <td class="product align-middle ps-4">{{ item.skuDescription }} </td>
                          <td class="align-middle white-space-nowrap text-end pe-0 ps-4 btn-reveal-trigger">
                            <div class="btn-reveal-trigger product-static"><button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs-10" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs-10"></span></button>
                              <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item"  (click)="GetSkuById(item.skuID, 1)">Edit</a>
                              <div class="dropdown-divider"></div><a class="dropdown-item text-danger"  (click)="GetSkuById(item.skuID, 0)">Remove</a>
                              </div>
                            </div>
                          </td>
                        </tr>
          
                      </tbody>
                    </table>
                  </div>

                </div>
              </div>
            </form>

      <div class="modal-footer">
        <button type="button"  id="btnBackCate" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn btn-primary">Back</button>
        <button type="button"  id="btnAddSKU" (click)="AddNew('sku')" class="btn btn-primary">Add New</button>
        <button type="button" *ngIf="btnSaveSKU" id="btnSaveSKU" (click)="onCUDsku('create')" class="btn btn-primary">Save</button>
        <button type="button" *ngIf="btnUpdateSKU" id="btnUpdateSKU" (click)="onCUDsku('update')" class="btn btn-warning">Update</button>
        <button type="button" *ngIf="btnDeleteSKU" id="btnDeleteSKU" (click)="onCUDsku('delete')" class="btn btn-danger">Delete</button>
        <button type="button" id="btnCloseSKU" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<!-- Category Modal-->
<div class="modal fade"  id="CateModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="CateModal" aria-hidden="true">
  <div class="modal-dialog d-flex align-items-center modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header bg-primary" style="background-color: #7f597e !important;">
        <h5 class="modal-title text-white dark__text-gray-1100" id="CateModal">CATEGORY LIST</h5><button class="btn p-1" type="button" data-bs-dismiss="modal" aria-label="Close" ><span class="fas fa-times fs-9 text-white dark__text-gray-1100"></span></button>
      </div>

            <form class="form-floating" [formGroup]="categoryForm">
              <div class="card">
                <div class="card-body row">
                  <div class="col-lg-3 col-sm-3 col-12">
                    <div class="form-floating mb-3" >
                      <input type="input" class="form-control" readonly formControlName="categoryID" id="floatingInput"  placeholder="name@example.com">
                      <label for="floatingInput">Category ID</label>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-9 col-12">
                    <div class="form-floating mb-3">
                      <input style="font-family: khmer os battambang" formControlName="categoryName"  class="form-control"   placeholder="Password">
                      <label for="floatingInput" >Category Name</label>
                    </div>
                  </div>

                  <div class="col-lg-5 col-sm-12 col-12">
                    <div class="form-floating mb-3">
                      <input class="form-control" id="floatingInput"  formControlName="categoryDescription" placeholder="Description">
                      <label for="floatingInput">Description</label>
                    </div>
                  </div>

                  <div class="col-lg-12">
                    <table class="table fs-9 mb-0">
                      <thead>
                        <tr>
                          <th class="white-space-nowrap fs-9 align-middle ps-0" style="max-width:20px; width:18px;">ID</th>
                          <th class="sort white-space-nowrap align-middle ps-4" scope="col" style="width:300px;" data-sort="product">CATEGORY NAME</th>
                          <th class="sort white-space-nowrap align-middle ps-4" scope="col" style="width:350px;" data-sort="product">DESCRIPTION</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody class="list" id="products-table-body">
          
                        <tr class="product-static" *ngFor="let item of CategoryList;let i = index">
                          <td class="fs-9 align-middle">{{ item.categoryID }}</td>
                          <td class="product align-middle ps-4">{{ item.categoryName }} </td>
                          <td class="product align-middle ps-4">{{ item.categoryDescription }} </td>
                          <td class="align-middle white-space-nowrap text-end pe-0 ps-4 btn-reveal-trigger">
                            <div class="btn-reveal-trigger product-static"><button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs-10" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs-10"></span></button>
                              <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item"  (click)="GetCateById(item.categoryID, 1)">Edit</a>
                              <div class="dropdown-divider"></div><a class="dropdown-item text-danger"  (click)="GetCateById(item.categoryID, 0)">Remove</a>
                              </div>
                            </div>
                          </td>
                        </tr>
          
                      </tbody>
                    </table>
                  </div>

                </div>
              </div>
            </form>

      <div class="modal-footer">
        <button type="button"  id="btnBackCate" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn btn-primary">Back</button>
        <button type="button"  id="btnAddCate" (click)="AddNew('cate')" class="btn btn-primary">Add New</button>
        <button type="button" *ngIf="btnSaveCate" id="btnSaveCate" (click)="onCUDCate('create')" class="btn btn-primary">Save</button>
        <button type="button" *ngIf="btnUpdateCate" id="btnUpdateCate" (click)="onCUDCate('update')" class="btn btn-warning">Update</button>
        <button type="button" *ngIf="btnDeleteCate" id="btnDeleteCate" (click)="onCUDCate('delete')" class="btn btn-danger">Delete</button>
        <button type="button" id="btnCloseCate" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>